server:
  port: 9095

spring:
  application:
    name: order-service
  config:
    import: "optional:configserver:http://localhost:9999"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:9098/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false


management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always