server:
  port: 9091

spring:
  cloud:
    discovery:
      enabled: false
  security:
    enabled: false

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
	healthcheck:
	  enabled: false